<div class="title">
  {{city.city}}
</div>
<div class="temperature">
  {{city.temperature}}
</div>
<div class="other-stats">
  <div class="other-stats__item">
    <div class="other-stats__label">Pressure</div>
    <div class="other-stats__value">{{city.pressure}}</div>
  </div>
  <div class="other-stats__item">
    <div class="other-stats__label">Wind</div>
    <div class="other-stats__value">{{city.wind}}</div>
  </div>
  <div class="other-stats__item">
    <div class="other-stats__label">Precip.</div>
    <div class="other-stats__value">{{city.precipitation}}</div>
  </div>
</div>
